 @using WebApplication1.Areas.admin.Models;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<Products>

 
@{
    ViewData["Title"] = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div class="container-fluid vert ">
    <div class="row">

        <div class="col-md-2   ">
            @await Html.PartialAsync("_adminNavcshtml")
        </div>
        <div class="col-md-9 offset-1 ">



            <div class="container my-5 ">

                <partial name="_notfy" />
                <div class="container">


                    <div class="row">
                        <div class="col-md-6">
                            <h2>Products </h2>
                        </div>
                        <div class="col-md-6 text-end">

                            <a asp-controller="Products" asp-action="New" class="btn btn-sm btn-primary">
                                <i class="bi bi-plus-lg"></i> &nbsp;
                                Add New Prodects
                            </a>
                        </div>

                    </div>
                </div>



                <table class="table m-5">
                    <thead>
                        <tr>
                            <th class="col">
                                photo
                            </th>
                            <th class="col">
                                Name
                            </th>
                            <th class="col">
                                Description
                            </th>
                            <th class="col">
                                Title
                            </th>
                            <th class="col">
                                Category
                            </th>

                            <th class="col">
                                CreatedDate
                            </th>

                            <th class="col">
                                Actions
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    <img src="~/images/12.jpeg" style="width:48px" class="img-thumbnail" />
                                </td>
                                <td>
                                    @item.Name
                                </td>
                                <td>
                                    @item.Description
                                </td>
                                <td>
                                    @item.Price
                                </td>
                                <td>
                                    @item.CategoryID

                                </td>

                                <td>
                                    @item.CreatedDate
                                </td>
                                <td>
                                    <a asp-controller="Products" asp-action="Edit" asp-route-Id="@item.Id" class="btn btn-sm btn-info">
                                        <i class="bi bi-pencil"></i>
                                    </a> &nbsp;
                                    <a asp-controller="Products" asp-action="Delete" asp-route-Id="@item.Id" class="btn btn-sm btn-danger">
                                        <i class="bi bi-trash3"></i>

                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>

                </table>


        </div>
    </div>


