@using WebApplication1.Areas.admin.Models;
@model IEnumerable<Products>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<div id="carouselExampleAutoplaying" class="carousel slide  m-5  " data-bs-ride="carousel" style="height: 50%;">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/images/banner.webp" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="~/images/banner1.webp" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="~/images/banner2.webp" class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>



@if (true)
{
    <div class="container-fluid">
        <div class="row">
            @foreach (var item in Model)
           {           
                    
                <div class="col-md-3 col-sm-6  ">
                    <div class="card   border-0">
                        <a asp-controller="ProductsView" asp-area="products" asp-action="Details" asp-route-Id="@item.Id">
                            <img src="~/images/man_cat.webp" style= "" class="card-img-top" />
                        </a>
                        <div class="card-body  product-card__info    ">
                            <h5 class="p-0 m-0">@item.Name</h5>
                            <p class="p-0 m-0 two-line-title">@item.Description</p>
                            <div class="my-4">
                                <a onclick="addToCart('@item.Id')" class="my-5">
                                    <div class="btn btn-dark w-100">Add To Cart</div>
                                    <partial name="_notfy" />
                                </a>
                            </div>
                            
                        </div>
                        <div class="vote position-absolute end-0 top-0 bg-opacity-50 text-white rounded-start p-2">@item.Quantity</div>
                       
                       
                       @*  <div style="text-align: center; margin-top: 1rem;">
                          
                        </div> *@
                    </div>
                </div>
            }
        </div>
    </div>
}
else
{
    <p>No data available.</p>
}

 