@{
    ViewData["Title"] = "Movies";
    var apiResponse = ViewData["ApiResponse"] as MovieModel;
    var img = "https://image.tmdb.org/t/p/w500" as String;
    var CurrentId = ViewData["CurrentId"] as String;

     
}
<div class="row p-5">
    <div class="col-md-4">
        <div class="my-50 w-70">
            <h2>Trending Movies<br> To Watch Right Now</h2>
            <p class="second-color">
                Trenging movies To Wetch It Now Free
            </p>
        </div>
    </div>
    
      

  </div>



 


    @if (true)
{
    <div class="container-fluid">
        <div class="row">
            @foreach (var item in @apiResponse.Results)
            {
                <div class="col-md-3 col-sm-6 py-5">
                    <div class="card m-2 border-0">
                        <a asp-controller="det_" asp-action="Index" asp-route-Id="@item.Id">
                            <img src="@($"{img}{item.poster_path}")" alt="" class="card-img-top" />
                        </a>
                        <div class="card-body">
                            <h5 class="card-text">@item.Title</h5>
                            <p class="card-text two-line-title">@item.Overview</p>
                        </div>
                        <div class="vote position-absolute end-0 top-0 bg-danger text-white rounded-start p-2">@item.vote_average</div>
                    </div>
                </div>
            }
        </div>
    </div>
}
else
{
    <p>No data available.</p>
}


<div class="d-flex flex-row mb-3 justify-content-center p-3">

     <div >

        @{
            int x = int.Parse(CurrentId);
            if (x >= 1)
            {
                x--;
                <a asp-controller="Home" asp-action="Index" asp-route-Id=@x>
                    <div class="p-2  bg-black text-white m-1 ck"> &#8249;  </div>
                </a>
            }
            else
            {
                <a asp-controller="Home" asp-action="Index" asp-route-Id=@x>
                    <div class="p-2  bg-black text-white m-1 ck"> &#8249; </div>
                </a>
            }
        }
        </div>
     
    <a asp-controller="Home" asp-action="Index" asp-route-Id="1">
        <div class="p-2  bg-black text-white m-1 ck">
            1
        </div>
    </a>
    <a asp-controller="Home" asp-action="Index" asp-route-Id="2">
        <div class="p-2  bg-black text-white m-1 ck">
            2
        </div>
    </a>


    <a asp-controller="Home" asp-action="Index" asp-route-Id="3">
        <div class="p-2  bg-black text-white m-1 ck">
            3
        </div>
    </a>
    <a asp-controller="Home" asp-action="Index" asp-route-Id="4">
        <div class="p-2  bg-black text-white m-1 ck">
            4
        </div>
    </a>

    <a asp-controller="Home" asp-action="Index" asp-route-Id="5">
        <div class="p-2  bg-black text-white m-1 ck">
            5
        </div>
    </a>



    @{
        int y = int.Parse(CurrentId);
        if (y < 5)
        {
            y++;
            <a asp-controller="Home" asp-action="Index" asp-route-Id=@y>
                <div class="p-2  bg-black text-white m-1 ck">&#8250;</div>
            </a>
        }
        else
        {
            <a asp-controller="Home" asp-action="Index" asp-route-Id=@y>
                <div class="p-2  bg-black text-white m-1 ck">&#8250;</div>
            </a>
        }
    }
 
    
    

</div>